<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Core Builder 0.1</title>
  <script src="js/jquery-1.9.1.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/backbone-min.js"></script>
  <script src="js/sax.js"></script>
  <script src="js/SAXParser.js"></script>
  <script src="js/shjs/sh_main.min.js"></script>
  <script src="js/shjs/sh_xml.js"></script>
  <script src="js/FileSaver.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="js/shjs/sh_style.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

  <script>
  	Array.prototype.remove = function(e) {
		var t, _ref;
		if ((t = this.indexOf(e)) > -1) {
		    return ([].splice.apply(this, [t, t - t + 1].concat(_ref = [])), _ref);
		}
	};
  var generateUid = function (separator) {
    /// <summary>
    ///    Creates a unique id for identification purposes.
    /// </summary>
    /// <param name="separator" type="String" optional="true">
    /// The optional separator for grouping the generated segmants: default "-".    
    /// </param>

    var delim = separator || "-";

    function S4() {
        return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
    }

    return (S4() + S4() + delim + S4() + delim + S4() + delim + S4() + delim + S4() + S4() + S4());
};
  </script>
  <style>
    body, html, #container {
      height: 100%;
    }
    li {
      list-style-type: none;
    }
  	div.column {
      height:92%;
  		float:left;
  		border: 1px solid Black;
  		padding: 1em;
  	}
    dl {
      height: 88%;
      overflow-y: auto;
    }
  	dt.has_id {
  		border: 1px solid Black;
  		background: #3DBEF5;
      margin-right: 10px;
  	}
  	dt {
  		border: 1px solid Black;
  		background: #F74F58;
  	}
  	dt.selected {
  		border: 4px Solid Yellow;
  	}
    #cur_grp {
      display: none;
    }
  	#cur_grp header {
  		font-style: italic;
  	}
  	h2 {
  		font-size: medium;
      padding: 1em;
  	}
    #makeNew {
      background-color: #89F531;
    }
    #save { 
      display: none; 
      background-color: #3DBEF5;
    }
    #saveall {
      
    }
    .remove {
      font-size: small;
      float:right;
    }
    #controls {
      background-color: #DBDBDB;
    }
    pre {
      padding: 1em;
    }
  </style>
</head>
<body>
  <div id="container">
    <div id="controls" class="column">
      <h2>Controls</h2>
      <button id="makeNew">Create new <em>app</em> entry</button>
      <button id="save">Save entry to CORE</button>
      <section id="cur_grp">
        <header>Selected elements:</header>
      </section>
      <dl id="core"></dl>
    </div>
    <div class="column">
      <h2>CORE</h2>
      <button id="saveall">Save XML</button><br/>
      <input type="file" id="files" name="files[]" />
      <div id="corexml"></div>
    </div>
  </div>

<script>

var sources = ['KAtx4_III_2', 'Ltx2_III_2', 'Ktx6_III_2', 'D_ptx2_III_2'];
//var core = {app : []};
// Example structure:
// "app": [
//   "rdg": [{source: "", ptr: []}]
// ]  

/* Set up backbone models an views */
var coreModel = Backbone.Model.extend({
  defaults: {
    "app": []
  }
});
// &lt;rdg wit="#A-pt"&gt;
//     &lt;ptr target="#A-pt_l2"/&gt;
//     &lt;ptr target="#A-pt_l3"/&gt;
//   &lt;/rdg&gt;
var core = new coreModel();
var coreView = Backbone.View.extend({
  template: _.template('<% _.each(app, function(a, i) { %><a href="#" class="remove" id="_<%=i%>">remove</a><pre class="sh_xml">&lt;app&gt;<% _.each(a.rdg, function(r) { %>\
\n  &lt;rdg wit="#<%=r.source%>"&gt;\
<% _.each(r.ptr, function(p) { %>\n    &lt;ptr target="#<%=p%>"/&gt;\
\n  <% }); %>&lt;/rdg&gt;<% }); %>\
\n&lt;/app&gt;</pre><% }); %>'),
  initialize: function() {
    this.listenTo(this.model, 'change', this.render);
    this.listenTo(this.model, 'destroy', this.remove);
  },
  render: function() {
    this.$el.html(this.template(this.model.toJSON()));
    $('#corexml').html(this.$el.html());
    sh_highlightDocument();
    this.bindRemove(this.model);
    return this;
  },
  bindRemove: function(model) {
    $('.remove').click(function(){
      var idx = /_(\d+)/.exec($(this).attr('id'))[1];
      var app = model.toJSON().app;
      model.set(app.splice(0, idx).concat(app.splice(idx, app.length)));
    });
  }
});

var selection = Backbone.Model.extend({
	defaults: {
	  "source": "",
	  "elements": []
	}
});

var appEntry = Backbone.Collection.extend({
    model: selection,
    initialize: function() {
    }
});

var appView = Backbone.View.extend({
  template: _.template("<ul><%= source %></ul>"),
    initialize: function() {
  },
  render: function() {
    this.$el.html(this.template({}));
    this.collection.each(this.addOne, this);
    return this;
  },
  addOne: function(model) {
    var view = new selectionView({model: model});
    $('#cur_grp').show().append(view.render().$el);
    $('#save').show();
    $('#makeNew').hide();
  },
  updateCore: function() {
    var c = jQuery.grep(this.collection.toJSON(), function(e,i) {
      return e.source != "" && e.source != null && e.source != undefined;
    });
    var rgroup = {rdg:[], id: generateUid()};
    for (var i=0; i<c.length; i++){
      rgroup.rdg.push({source:c[i].source, ptr: c[i].elements});
    }
    core.attributes.app.push(rgroup);
    var m;
    while (m = this.collection.first()) {
      m.destroy();
    }
  }
});

var selectionView = Backbone.View.extend({
	template: _.template("<li><%= source %>\
		<ul>\
			<% _.each(elements, function(e) { %> <li><%= e %></li> <% }); %>\
		</ul>\
	</li>"),
	initialize: function() {
		this.listenTo(this.model, 'change', this.render);
    this.listenTo(this.model, 'destroy', this.remove);
	},
	render: function() {
		this.$el.html(this.template(this.model.toJSON()));
		return this;
	}
});

/* Set up SAX PARSER */

var end = false;
var skip = ['teiHeader', 'lb']
var skipping = false;
var parser = new SAXParser({
  startDocument: function() { },
  endDocument: function() { },
  startElement: function(node) {
      end = false;
      if (skip.indexOf(node.name) != -1) {skipping=true;}
      if (!skipping) { 
    		has_id = ($.inArray('xml:id', Object.keys(node.attributes)) !== -1) ? ' class="has_id '+window.source+'" data-teiid="'+node.attributes['xml:id'].value+'"' : '';
    		window.loc.append('<dt'+has_id+'>'+node.name+'</dd>');
      }
      //if (skipping && node.isSelfClosing) {skipping=false;}
  	},
  endElement: function(node) {
  	end = true;
    if (skip.indexOf(node) != -1){
      skipping=false;
    }
  },
  characters: function(text) {
  		if (!end && !skipping) {
  			var t = (text.length > 20) ? text.substr(0,19) : text;
  			window.loc.append('<dd>'+t+'</dd>');
  		}  		
  	},
  comment: function(comment) { }
});

/* GET DATA */

var loadTEI = function(s, cb) {
  $.get('data/'+s[0]+'.xml', function(data) {
    var column = $('<div class="column TEI"><h2 class="anchored">'+s[0]+'</h2></div>');
    var dl = $('<dl id="'+s[0]+'"/>');
    column.append(dl);
    $('#container').prepend(column);
    window.loc = dl;
    window.source = s[0];
    parser.parse(data);
  }, 'text');
  if (cb != null || cb != undefined) {cb(s.slice(1, s.length));}
}

// Load sources in order (pipe through a callback)
var pipe = function(ss) {
  if (ss.length > 1) {
    loadTEI(ss, pipe);
  }
  else { loadTEI(ss); }
}
pipe(sources);

// Attach events to TEI elements when creating a new selection.
var bindTEI = function(source, sel) {
	var selected = {};
	selected[source] = [];
	$('.has_id.'+source).click(function(){
		elm = $(this);
		teiid = elm.attr('data-teiid');
		if ($.inArray(teiid, selected[source]) == -1) {
			selected[source].push(elm.attr('data-teiid'));
			elm.addClass('selected');
		} 
		else {
			selected[source].remove(teiid);
			elm.removeClass('selected');
			sel.unset({source:source, elements:selected[source]});
		}
		sel.set({source:source, elements:selected[source]}, {silent:true});
		sel.trigger("change"); //Firing change manually seems to make this work better.
	});
}
// Detach events to TEI elements when creating a new selection.
var unbindTEI = function(source, sel) {
  $('.has_id').unbind('click');
  $('.has_id.selected').removeClass('selected');
}


// Listeners

var handleFileSelect= function (evt) {
  var files = evt.target.files; // FileList object

  // Loop through the FileList
  for (var i = 0, f; f = files[i]; i++) {

    var reader = new FileReader();

    // Closure to capture the file information.
    reader.onload = (function(theFile) {
      return function(e) {
        parser=new DOMParser();
        XMLCore=parser.parseFromString(e.target.result,"text/xml");
        entries = $(XMLCore).find('app');
        entries.each(function(i,e){
          var entry = new appEntry();
          var entryView = new appView({collection:entry});
          $(e).find('rdg').each(function(i,r){
            var s = new selection(); 
            entry.add(s);
            w = $(r).attr('wit').substr(1);
            els = [];
            $(r).find('ptr').each(function(i,p){
              els.push($(p).attr('target').substr(1));
            });
            s.set({source:w, elements:els}, {silent:true});
          });
          entryView.updateCore();
          var cv = new coreView({model:core});
          cv.render();
        });
      };
    })(f);

    // Read in the file
    reader.readAsText(f,"UTF-8");
  }
}

$('#files').change(handleFileSelect);

var cur_col;

$('#makeNew').click(function(){
	var entry = new appEntry();
  var entryView = new appView({collection:entry});
  cur_col = entryView;
  for (var i=0; i<sources.length; i++){
    var s = new selection(); 
    entry.add(s);   
    bindTEI(sources[i], s);
  }
  entryView.render();
});

$('#save').click(function(){
  cur_col.updateCore();
  $('#save').hide();
  $('#cur_grp').hide();
  $('#makeNew').show();
  unbindTEI();
  var cv = new coreView({model:core});
  cv.render();
});

$('#saveall').click(function(){
  var xml = '<?xml version="1.0" encoding="UTF-8"?><TEI>'+$('pre').text()+"</TEI>";
  //THIS + http://updates.html5rocks.com/2011/08/Saving-generated-files-on-the-client-side 
  // AND https://github.com/eligrey/FileSaver.js:
  var bb = new Blob([xml], {"type":"text\/xml"});
  saveAs(bb, 'core.xml');
});

</script>
 
</body>
</html>