@import 'variables';

#currententry {
    z-index: 999 !important;
    position: fixed;
    bottom: 0;
    right: 0;    
    background-color: $ui-bg;
    border-top: 4px solid $ui-border;
    border-left: 4px solid $ui-border;
    border-right: 4px solid $ui-border;
    border-radius: 3px;
    min-height: 20px;
    min-width: 20px;
    margin-left: $sidebar-compact-size;
    margin-right: 20px;

    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);

    #cb-ce-msg {
        padding: 15px;
    }

    #cb-ce-entry {
        padding: 5px;
        font-size: 9px;
    }

}

@media(min-width:500px) {
    #currententry {
        min-width: 300px;
        min-height: 2em;
        margin-left: $sidebar-size;

        #cb-ce-entry {
            font-size: 15px;
        }

    }
}

