@import 'variables';

#currententry {
    z-index: 999 !important;
    position: fixed;
    bottom: 0;
    right: 0;    
    background-color: $ui-bg;
    border-top: 4px solid $ui-border;
    border-left: 4px solid $ui-border;
    border-right: 4px solid $ui-border;
    border-radius: 3px;
    min-height: 20px;
    min-width: 20px;
    margin-left: $sidebar-compact-size;
    margin-right: 20px;

    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);

    button span {
        display: none;
    }

    #cb-ce-msg {
        padding: 15px;
    }

    #cb-ce-entry {

        display: none;

        font-size: 9px;

        #cb-ce-entry-menu {
            background-color: $logo-primary;
            padding: 5px;            

            #cb-ce-undock, #cb-ce-minimize {
                color: black;
            }

            .cb-ce-entry-ctrls {
                float: right;
            }

        }

        #cb-ce-entry-items {
            padding: 0 20px 0 10px;
            position: relative;
            max-height: 200px;
            overflow-y: auto;
        }

        #cb-ce-entry-xml {
            display: none;
        }

        #cb-ce-entry-btns {
            float: right;
            padding-bottom: 5px;
            margin-right: 5px;
        }

        .cb-ce-ctrls {
            position: absolute;
            left: 5px;
            cursor: pointer;
        }

        ul {
            list-style: none;
            padding-left: 1em;
            word-break: break-all;
        }

        ul ul {
            padding-left: 1.5em;
        }

        #cb-ce-g-dd {
            .cb-selected {
                background-color: $logo-secondary;
            }
        }

    }

}

@media(min-width:500px) {
    #currententry {
        min-width: 300px;
        min-height: 2em;
        margin-left: $sidebar-size;
        z-index: 999 !important;

        #cb-ce-entry {
            font-size: 15px;
        }

        button span {
            display: inline;
        }

    }
}

#currententry.cb-ce-minimized {

    #cb-ce-entry-body, #cb-ce-entry-btns, .cb-ce-entry-ctrls  {
        display: none;
    }
}