#workspace .row {
    margin: 0;

    .cb-XMLFile {
        background: Grey;
        border: 1px solid White;
        min-height: 20em;
        padding: 2px;

        .cb-xf-title {
            min-height: 2em;
            color: white;
            font-weight: bold;

            .cb-xf-controls {
                float: right;

                a:link, a:hover, a:active, a:visited {
                    color: white;
                    text-decoration: none;
                }

                button span {
                    display: none;
                }

            }
        }

        .cb-ace {
            min-height: inherit;
        }

    }

}

@media(min-width:500px) {
    #workspace .row .cb-XMLFile .cb-xf-title .cb-xf-controls button span {
        display: inline;
    }
}